.users{
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-left: 1em;
}

.users form {
    max-width: fit-content ;
    width: 80%;
    display: flex;
    justify-content:left;
    margin-bottom: 2em;
}

.user input {
    margin-right: 10px;
    width: 100%;
}

.nousers{
    justify-content: left;
}
